<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="sweettooth.cs.brandeis.edu.eventsapp">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".Main">
            android:label="Database Tester">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".GoogleAuth">
            <intent-filter>
                <action android:name="sweettooth.cs.brandeis.edu.eventsapp.GoogleAuth" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <!--         now a fragment and no longer an activity.. remove when Explorer class is removed! -->
        <activity android:name=".Explorer">
            <intent-filter>
                <action android:name="sweettooth.cs.brandeis.edu.eventsapp.Explorer" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity android:name=".DatabaseTester">
            android:label="Database Tester">
            <intent-filter>
                <action android:name="sweettooth.cs.brandeis.edu.eventsapp.DatabaseTester" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity android:name=".AddEvent">
            android:parentActivityName="sweettooth.cs.brandeis.edu.eventsapp.Main" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="sweettooth.cs.brandeis.edu.eventsapp.Main" />
            <intent-filter>
                <action android:name="sweettooth.cs.brandeis.edu.eventsapp.AddEvent" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <!--
        ATTENTION: This was auto-generated to add Google Play services to your project for
        App Indexing.  See https://g.co/AppIndexing/AndroidStudio for more information.
        -->
        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />
    </application>

</manifest>